/* font-family: 'Roboto',
sans-serif; */

:root {
	--border: rgb(248, 14, 209);
	--color: rgb(255, 136, 225);
	--top: 5px;
	--rad: 10px;
	--bor: 2px solid var(--border);
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: "Roboto", sans-serif;
}

body {
	background-size: cover;
	background-image: url("https://cdn.pixabay.com/photo/2016/04/06/10/08/pink-1311251_960_720.jpg");
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
	color: rgb(250, 18, 142);
	margin: 20px auto;
}

.box {
	width: 90%;
	max-width: 325px;
	margin: 50px auto;
	font-family: "Roboto", sans-serif;
}

.tasks {
	margin: 50px 0;
}

.task {
	margin: 50px 0;
	width: 375px;
	border-radius: 10px;
	height: 50px;
	position: relative;
	transition: 0.5s;
}

input,
.task div {
	width: 250px;
	height: 25px;
	border-radius: var(--rad);
	border: var(--bor);
	padding: 3px;
}

.task input {
	position: absolute;
	top: var(--top);
	height: 25px;
	border: var(--bor);
	border-radius: var(--rad);
	z-index: 1;
	transition: 0.5s;
	left: 5px;
}

.task div {
	position: absolute;
	top: var(--top);
	background-color: white;
	border-radius: var(--rad);
	padding: 3px;
	z-index: 2;
	width: 250px;
	border: var(--bor);
	left: 5px;
}

button {
	width: 50px;
	height: 25px;
	cursor: pointer;
	background-color: var(--border);
	border-radius: var(--rad);
	border: var(--bor);
	color: white;
}

.task button:nth-of-type(1) {
	position: absolute;
	right: 55px;
	z-index: 1;
	top: var(--top);
}

.task button:nth-of-type(2) {
	position: absolute;
	right: 0;
	top: var(--top);
}

.task button:nth-of-type(3) {
	position: absolute;
	right: 55px;
	z-index: -1;
	top: var(--top);
}